

h3 {
    font-size: 18px;
    font-family: Arial;
    margin: 10px;
    text-transform: uppercase;
  }
  input {margin: 0 10px;}
  
  #time, #date { display: none; }


.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-overlay:hover {

  opacity: 0.8;
}

.mt
{
margin-top: 40px;
}


.heading-text
{
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.main-bg 
{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../assets/main-bg.png');
  width: 300px;
  height: 650px;
  justify-content: center;
  background-repeat: repeat-y; 
  background-size: cover; 
  border-radius: 10px;
}

.touch-cursor {
  cursor: url('../assets/touch-cursor.png'), auto;
}

<<<<<<< HEAD
.picker {
  display:flex;
 
}
=======
.calendar
{
margin-top: 100px;
margin-left: auto;
margin-right: auto;
padding: 10px;
padding-top: 15px;
height: 500px;
width: 250px;
background-color: #A17E8D;
border-radius: 20px;
font-size: 1em;
font-family: 'Trebuchet MS';
color: white;


}.picker {
  display:flex;

}


>>>>>>> 35b167016f7a7225cc964b3fd204dd602a0e59d0
