    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" />

    <title>Chat</title>
  </head>
  <body>
    <div class="container" id="responseNameContainer">
      <h1 id="responseName"><span>Angela Erhoin</span></h1>
    </div>
    <div class="row">
      <div class="col-1"></div>

      <div class="col-4" id="inboxContainer">
        <div class="container">
          <h1>hello</h1>
          <h3>test</h3>
        </div>
      </div>
      <div class="container col-6" id="chatContainer">
        <div class="container" id="messageHistory">
          <div class="container" id="responseMsg">
            <div id="innerContainerTher">
              <p id="responseText">hi im angela and im a therapist how can i help you today please hun</p>
            </div>
          </div>

          <div class="container" id="userMsg">
            <div id="innerContainerUser">
              <p id="userText">hi angela am addicted to drugs and i dont know what to do so can you help me out pls</p>
            </div>
          </div>

          <div class="container" id="responseMsg">
            <div id="innerContainerTher">
              <p id="responseText">hi im angela and im a therapist how can i help you today please hun</p>
            </div>
          </div>

          <div class="container" id="userMsg">
            <div id="innerContainerUser">
              <p id="userText">hi angela am addicted to drugs and i dont know what to do so can you help me out pls</p>
            </div>
          </div>

          <div class="container" id="responseMsg">
            <div id="innerContainerTher">
              <p id="responseText">hi im angela and im a therapist how can i help you today please hun</p>
            </div>
          </div>
          <div class="container" id="userMsg">
            <div id="innerContainerUser">
              <p id="userText">hi angela am addicted to drugs and i dont know what to do so can you help me out pls</p>
            </div>
          </div>

          <div class="container" id="responseMsg">
            <div id="innerContainerTher">
              <p id="responseText">hi im angela and im a therapist how can i help you today please hun</p>
            </div>
          </div>
          <div class="container" id="userMsg">
            <div id="innerContainerUser">
              <p id="userText">hi angela am addicted to drugs and i dont know what to do so can you help me out pls</p>
            </div>
          </div>

          <div class="container" id="responseMsg">
            <div id="innerContainerTher">
              <p id="responseText">hi im angela and im a therapist how can i help you today please hun</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4"></div>
      <div class="flex col-6" id="typeMessageContainer">
        <!-- <div class="container" id="messageBoxContainer"> -->
        <textarea id="typeMessageBox" placeholder="Type Message..."></textarea>
        <div id="sendButtonContainer">
          <input type="submit" class="btn-sendMes" id="sendMessageToOther" value="Send" />
          <!-- </div> -->
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <%- include('partials/navBar.ejs'); -%>
<%- include('partials/footer'); -%>