<%- include('partials/header'); -%>
<title>FAQ</title>
</head>
<body>
  <%- include('partials/homeBtn'); -%>
  <h1 class="text-center mt-3" style="font-size: 50px;">FAQs</h1>
  <div class="col-2"></div>
  <div class="container col-8 mt-4" id="faqContainer">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What causes drug addiction in the first place?
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              I enjoy the occasional drug, does that mean I have a problem?
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              I have a friend who has a problem but is indenial, what can I do to help?
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              I know I have a problem but I am scared to tell any of my family and friends. How can I get support?
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              How long does recovery usually take?
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              What can I do to preoccupy myself?
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              I use drugs to cope with stresses in my life. How can I change this habit?
            </button>
          </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              I don't think I have a problem but other people have commented on my drug use. Do I have a problem?
            </button>
          </h2>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue vitae purus eget pellentesque.
            Maecenas consequat nulla id mauris sagittis, quis rhoncus ante convallis. Ut gravida diam at sagittis
            ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor at dignissim
            placerat. Sed at lorem ligula. Sed id erat vitae magna eleifend tempor vitae eu tortor. Donec vestibulum
            dui odio, quis sollicitudin quam semper sed. Morbi cursus est ac feugiat malesuada. Duis non suscipit
            metus, ut accumsan dolor. Morbi sollicitudin dictum tempor.
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(user) { %>
    <%- include('partials/navBar'); -%>
  <% } else {}%>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
<%- include('partials/footer'); -%>