<%- include('partials/header'); -%>
    <title>Menu</title>
  </head>
    <body>
    <div class="container white-bg">
      <div class="row">
        <div class="heading-text text-center">
          <% if(user) { %>
          <h2>Hello <%= user.name %></h2>
          <% } else {}%>
        </div>

        <div class="container">
          <div class="row mt img">
            <a onclick="window.location.href='/chat'" style="cursor: pointer;"
              ><img src="assets/messages-icon.png" class="mr-2 mt-5 mb-2 img-overlay" alt="messasges icon" width="100px"
            /></a>
            <a onclick="window.location.href='/calendar'" style="cursor: pointer;"
              ><img src="assets/calender-icon.png" class="mb-2 mt-5 img-overlay" alt="messasges icon" width="100px"
            /></a>
          </div>
        </div>

        <div class="container">
          <div class="row img">
            <a onclick="window.location.href='/settings'" style="cursor: pointer;"
              ><img src="assets/settings-icon.png" class="mr-2 mb-5 img-overlay" alt="messasges icon" width="100px"
            /></a>
            <a onclick="window.location.href='/faq'" style="cursor: pointer;"
              ><img src="assets/FAQ-icon.png" class="img-overlay mb-5" alt="messasges icon" width="100px"
            /></a>
          </div>
        </div>
      </div>
    </div>
<%- include('partials/footer'); -%>