<%- include('partials/header'); -%>
  <title>Register</title>
</head>
<body>
  <%- include('partials/homeBtn.ejs'); -%>
  <div class="main-heading text-center white-bg">
    <h1>Create Account</h1>
    <div class="container col-xs-4 mt-4 text-center">
      <form>
        <div class="field-cont">
        <input type="text" id="nhsno" name="nhsno" required="required" placeholder="Your NHS Number" />
        <div class="nhsno required"><i class="fas fa-exclamation-triangle"></i></div>
        </div>
        <div class="nhsno error"></div>
        <div class="field-cont">
        <input type="text" id="name" name="name" required="required" placeholder="Your Name" />
        <div class="name required"><i class="fas fa-exclamation-triangle"></i></div>
        </div>
        <div class="name error"></div>
        <div class="field-cont">
        <input type="email" id="email" name="email" required="required" placeholder="Your Email Address" />
        <div class="email required"><i class="fas fa-exclamation-triangle"></i></div>
        </div>
        <div class="email error"></div>
        <div class="field-cont">
        <input type="password" id="password" name="password" required="required" placeholder="New Password" />
        <div class="password required"><i class="fas fa-exclamation-triangle"></i></div>
        </div>
        <div class="password error"></div>
        <input type="submit" class="green-btn" value="Sign Up" />
        <p id="creAcLink" class="mt-3 p-2">Already have an account? <a onclick="window.location.href='/login'" style="cursor: pointer;" id="creAcA">Log in</a></p>
      </form>
    </div>
  </div>
<script>
const form = document.querySelector('form');
const nhsnoError = document.querySelector('.nhsno.error')
const nameError = document.querySelector('.name.error');
const emailError = document.querySelector('.email.error');
const passwordError = document.querySelector('.password.error');

const nhsnoAlert = document.querySelector('.nhsno.required');
const nameAlert = document.querySelector('.name.required');
const emailAlert = document.querySelector('.email.required');
const passwordAlert = document.querySelector('.password.required');

form.addEventListener('submit', async (e) => {
  //don't refresh page on event
  e.preventDefault();

  nhsnoError.textContent = '';
  nameError.textContent = '';
  emailError.textContent = '';
  passwordError.textContent = '';

  const nhsno = form.nhsno.value;
  const name = form.name.value;
  const email = form.email.value;
  const password = form.password.value;

  const user = { nhsno, name, email, password };

  try {
    const res = await fetch('/register', {
      method: 'POST',
      body: JSON.stringify(user),
      headers: { 'Content-Type': 'application/json' }
    });
    const data = await res.json();
    if (data.errors) {
      nhsnoError.textContent = data.errors.nhsno;
      nameError.textContent = data.errors.name;
      emailError.textContent = data.errors.email;
      passwordError.textContent = data.errors.password;

      const arr = [];
      for (const value in data.errors) {
        if (data.errors[value] === '') {
        } else {
          arr.push(`${[value]}`);
        }
      }

      for(i = 0; i < arr.length; i++) {
        const element = document.querySelector('.'+arr[i]+'.required');
        element.style="display:inline-flex;visibility:visible;";
      }
    }
    if (data.user) {
      location.assign('/menu');
    }
  }
  catch (err) {
    console.log(err)
  }
});
</script>
<%- include('partials/footer'); -%>