<%- include('partials/header'); -%>
<title>Settings</title>
</head>

<body>
  <%- include('partials/homeBtn.ejs'); -%>
  <div class="container settings-bg text-center">
    <div class="col-xs-6">
      <div class="settings-h mt-3 mb-3">
        <h1 class="text-center" styles="color:#E45B32">Settings</h1>
      </div>
      <div class="pt-2">
        <h1 id="fontH1" style="color: #4c4c4c">Heading Size</h1>
        <button type="button" class="btn-font" onclick="smallerH1()">Smaller</button>
        <button type="button" class="btn-font" onclick="largerH1()">Larger</button>
        <button type="button" class="btn-font" onclick="normalH1()">Normal</button>
      </div>
      <div class="pt-4">
        <h2 id="fontH2">Sub Heading Size</h2>
        <button type="button" class="btn-font" onclick="smallerH2()">smaller</button>
        <button type="button" class="btn-font" onclick="largerH2()">Larger</button>
        <button type="button" class="btn-font" onclick="normalH2()">Normal</button>
      </div>
      <div class="pt-4">
        <p id="fontp">Paragraph Size</p>
        <button type="button" class="btn-font" onclick="smallerp()">smaller</button>
        <button type="button" class="btn-font" onclick="largerp()">Larger</button>
        <button type="button" class="btn-font" onclick="normalp()">Normal</button>
      </div>
      <div class="mt-4">
        <button onclick="window.location.href='/logout';" class="logout-button">
        <a href="1nhsnumber.html"></a><svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="#a17e8d;" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" alt="logout here" />
        </svg>
      </button>
        <p style="color: grey">Logout here</p>
      </div>
    </div>
  </div>
 <%- include('partials/navBar.ejs'); -%>
<%- include('partials/footer'); -%>