<nav class="navbar-center navbar-default navbar-top" style="text-align: center">
  <div class="container icon-bg">
    <a onclick="window.location.href='/'" style="cursor: pointer;">
      <img src="assets/home-icon.png" class="mb-2 ml-2 mt-2 nav-icon-top img-overlay" alt="menu icon"
    /></a>
  </div>
</nav>
