<nav class="navbar navbar-bottom fixed-bottom" style="background-color: #fefefe9d">
  <li class="nav-item active">
    <a onclick="window.location.href='/chat'" style="cursor: pointer;"><img src="assets/chat-icon.png" class="mb-2 nav-icon img-overlay" alt="messasges icon" width="100px" /></a>
  </li>
  <li class="nav-item active">
    <a onclick="window.location.href='/calendar'" style="cursor: pointer;"><img src="assets/calendar-nav-icon.png" class="mb-2 nav-icon img-overlay" alt="messasges icon" width="100px" /></a>
  </li>
  <li class="nav-item active">
    <a onclick="window.location.href='/settings'" style="cursor: pointer;"><img src="assets/settings-nav-icon.png" class="mb-2 nav-icon img-overlay" alt="messasges icon" width="100px" /></a>
  </li>
  <li class="nav-item active">
    <a onclick="window.location.href='/faq'" style="cursor: pointer;"><img src="assets/faq-nav-icon.png" class="mb-2 nav-icon img-overlay" alt="messasges icon" width="100px" /></a>
  </li>
</nav>